#page-home{
    height: 100vh;
    background: url('../assets/home-background.svg') no-repeat;
    background-position: 35vw bottom;
}

#page-home .content{ 
    width:90%;
    max-width: 1100px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#page-home header{
    margin-top: 48px;
    display:flex;
    align-items: center;
    justify-content: space-between;
}

#page-home header a{
    display: flex;
    color: var(--title-color);
    font-weight: 700;
}

#page-home header a span{
    margin-right: 16px;
    display: flex;
    background-image: url('../assets/log-in.svg');
    width: 20px;
    height: 20px;
}

#page-home main{
    max-width: 560px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#page-home main h1{
    font-size:54px;
}

#page-home main p{
    font-size: 24px;
    line-height: 38px;
    margin-top: 24px;
}

#page-home main a {
    width: 100%;
    max-width: 360px;
    height: 72px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    margin-top: 40px;
    background-color: var(--primary-color);
    transition: 400ms;
    font-weight: bold;
    color: white;
}

#page-home main a:hover{
    background-color: #2fb86e;
}

#page-home main a spam{
    width: 72px;
    height: 72px;

    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;

    background-color: rgba(0, 0, 0, 0.08);

    display: flex;
    align-items: center;
    justify-content: center;
}

#page-home main a spam::after{
    content: "";
    background-image: url('../assets/search.svg');
    width: 20px;
    height: 20px;
}

#page-home main a strong{
    flex: 1;
    color: white;
    text-align: center;
}